<h2 class="ui center aligned icon header">
  <i class="red circular users icon"></i>
  Welcome
</h2>


<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <!--<div class="ui form">-->
      <%= form_for(:session, :html => {class:"ui form",role:"form"}, url:login_path) do |f| %>  
        <div class="field">
          <!--<label>Username</label>-->
          <%= f.label :username, "Username" %>
          <div class="ui left icon input">
            <!--<input type="text" placeholder="Username">-->
            <%= f.text_field :username, placeholder: "Username" %>
            <i class="red user icon"></i>
          </div>
        </div>
        <div class="field">
          <!--<label>Password</label>-->
          <%= f.label :password, "Password" %>
          <div class="ui left icon input">
            <!--<input type="password" placeholder="Password">-->
            <%= f.password_field :password, placeholder: "" %>
            <i class="red lock icon"></i>
          </div>
        </div>
        <!--<div class="ui red submit button">Login</div>-->
        <%= f.button "Login", class: "ui red button" %>
        <% end %>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big blue button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>